# Dropear Filas

In [1]:
import pandas as pd
import numpy as np

In [2]:
obj= pd.Series(np.arange(5.), index= ["a", "b", "c", "d", "e"])

print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [3]:
obj1= obj.drop("c")

print(obj1)

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

Para hacerlo sobre un dataframe:

In [3]:
data= pd.DataFrame(np.arange(16).reshape((4,4)),
                   index= ["Ohio", "Colorado", "Utah", "New York"],
                  columns= ["one", "two", "three", "four"])

print(data)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [7]:
data1= data.drop(["Colorado", "Ohio"])

print(data1)

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

# Dropear Columnas

También podemos dropear columnas:

In [11]:
data2= data.drop("two", axis= 1)

print(data2)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

Con el axis, básicamente le indicamos si queremos avanzar sobre filas o columnas.

In [12]:
data3= data.drop(["two", "four"], axis= "columns") #también puede escribirse de esta manera

print(data3)

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

También se puede afectar el objeto actual:

In [14]:
obj.drop("c", inplace= True) 

print(obj)

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

Aún cuando no generemos un objeto nuevo, siempre se genera. Para no hacerlo, agregar el inplace= True.

# Convertir entre Tipos de Datos

In [5]:
print(data.dtypes)

one      int32
two      int32
three    int32
four     int32
dtype: object

Para convertir a string:

In [7]:
data['one'] = data['one'].astype(str)

print(data.dtypes)

one      object
two       int32
three     int32
four      int32
dtype: object

Para convertir a integer:

In [8]:
data['one'] = data['one'].astype(int)

print(data.dtypes)

one      int32
two      int32
three    int32
four     int32
dtype: object

En caso de que esté dando error la conversión a integer, probar el siguinete código que nos indica la celda con problemas:

In [ ]:
print (df[ pd.to_numeric(df['Num_Detections'], errors='coerce').isnull()])