# Sumar Series

In [2]:
import pandas as pd
import numpy as np

In [2]:
s1= pd.Series([7.2, -2.5, 3.4, 1.5], index= ["a", "c", "d", "e"])

print(s1)

a    7.2
c   -2.5
d    3.4
e    1.5
dtype: float64

In [4]:
s2= pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index= ["a", "c", "e", "f", "g"])

print(s2)

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [5]:
s3= s1 + s2

print(s3)

a    5.1
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

Donde hay valores sólo en una Serie, el resultado arroja nan.

# Sumar DataFrames

In [6]:
df1= pd.DataFrame(np.arange(9.).reshape((3,3)),
                  columns= list("bcd"),
                  index= ["Ohio", "Texas", "Colorado"])

print(df1)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [7]:
df2= pd.DataFrame(np.arange(12.).reshape((4,3)),
                  columns= list("bde"),
                 index= ["Utah", "Ohio", "Texas", "Oregon"])

print(df2)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [8]:
df3= df1 + df2

print(df3)

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

# Tratando los Valores NaN

In [3]:
df1= pd.DataFrame(np.arange(12.). reshape((3,4)),
                  columns= list("abcd"))

print(df1)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [4]:
df2= pd.DataFrame(np.arange(20.). reshape((4,5)),
                 columns= list("abcde"))

print(df2)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

Reemplazamos un valor:

In [6]:
df2.loc[1, "b"]= np.nan

print(df2)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [7]:
df3= df1 + df2

print(df3)

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

Existe la función add() que contiene un parámetro que podemos completar con el valor que deseamos pasar en reemplazo de los missing values. El resultado es el mismo que la suma, sólo que indicando que ponemos en lugar de los missing values.

In [10]:
df4= df1.add(df2, fill_value=0)

print(df4)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

Importante! "fill_value" lo que indica es el valor que le va a sumar al valor que ocupe la celda vacía. Es decir, la tabla 1 tiene un valor, pero la 2 es nan y fill_value=0 entonces al valor de la tabla 1 le suma 0.

También podemos usar el parámetro "fill_value" con el reindex:

In [11]:
df5= df1.reindex(columns= df2.columns, fill_value= 0)

print(df5)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0