# Operaciones entre Series y DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
frame= pd.DataFrame(np.arange(12.).reshape((4,3)),
                    columns= list("bde"),
                    index= ["Utah", "Ohio", "Texas", "Oregon"])

print(frame)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [4]:
series= frame.iloc[0]

print(series)

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [5]:
diferencia= frame - series

print(diferencia)

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

Básicamente la operatoria matchea el index de la serie con las columnas del dataframe.

Si algún elemento no matchea sucede lo siguiente:

In [6]:
series2= pd.Series(range(3), index= ["b", "e", "f"])

print(series2)

b    0
e    1
f    2
dtype: int64

In [9]:
suma= frame + series2

print(frame, "frame")
print("------------------")
print(suma, "suma")

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0 frame
------------------
          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN suma

También podemos operar sobre las columnas, se hacede la sgte manera:

In [10]:
series3= frame["d"]

print(series3)

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [12]:
resta1= frame.sub(series3, axis= "index")

print(series3)
print("------------------")
print(frame)
print("------------------")
print(resta1)

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64
------------------
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
------------------
          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0