# Estadística Descriptiva

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
                 index= ["a", "b", "c", "d"],
                 columns= ["one", "two"])

print(df)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

### Suma

La función suma devuelve una serie:

In [3]:
df1= df.sum()

print(df1)

one    9.25
two   -5.80
dtype: float64

Como vemos, suma todo lo que no sea NaN

Para sumar a través de las columnas:

In [4]:
df2= df.sum(axis= "columns")

print(df2)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

## Promedio - Mean

Como dijimos antes, los valores nan son excluidos. Esto puede ser deshabilitado:

In [7]:
df3= df.mean(axis="columns", skipna= False)  #deshabilitado - tiene en cuenta los nan

df4= df.mean(axis="columns", skipna= True)   #habilitado - NO tiene en cuenta los nan (no hace falta poner el True)

print(df3)
print("-----------------")
print(df4)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64
-----------------
a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

### Índice Máximo y Mínimo

Hay otras funciones como idxmin y idxmax:

In [9]:
df5= df.idxmax()

print(df)
print("----------")
print(df5)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
----------
one    b
two    d
dtype: object

Básicamente devuelve en forma de serie el índice en la cual se encuentra el máximo valor.

### Suma Acumulativa

Hay otros métodos como ser la suma acumulativa:

In [10]:
df6= df.cumsum()

print(df6)

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

La acumulación la hace sobre cada columna.

### Función Describe

"describe()" produce un shot de datos descriptivos:

In [11]:
df7= df.describe()

print(df7)

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000