# Stack and Unstack

Recordar que también está la función groupby, con lo cual, si queremos agrupar, dicha función puede ser más útil. Lo que está en el presente capítulo sirve más para reordenar filas y columnas de un dataset, transponer tablas, etc.

- Stack: rota los datos de las columnas a las filas
- Unstack: pivotea de las filas a las columnas

In [1]:
import pandas as pd
import numpy as np

### Stack

In [2]:
data= pd.DataFrame(np.arange(6).reshape((2,3)),
                   index= pd.Index(["Ohio", "Colorado"], name= "state"),
                   columns= pd.Index(["one", "two", "three"],
                   name= "number"))

print(data)

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

Al usar el método stack, producimos una serie:

In [11]:
result= data.stack()

print(result)

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int32

Como vemos, las columnas se convierten en filas

Es importante saber también que al llamar el stack, podemos indicar el nombre de la fila que queremos stackear

### Unstack

In [5]:
result1= result.unstack()

print(result1)

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

También podemos seleccionar que es lo que queremos unstackear pasando un número o título:

In [8]:
result2= result.unstack(0)

print(result1) #En este queda el number primero como fila
print("-------------------")
print(result2)  #En este queda el state primero como fila

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5
-------------------
state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [10]:
result3= result.unstack("state")

print(result1)  #En este queda el number primero como fila
print("-------------------")
print(result3)  #En este queda el state primero como fila

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5
-------------------
state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

# Pivoting "wide" to "long" format

Básicamente, lo que hace este método es transfomrar múltiples columnas en una, produciendo un nuevo dataframe que es más largo que el original.

In [6]:
df= pd.DataFrame({"key": ["foo", "bar", "baz"],
                  "A": [1, 2, 3],
                  "B": [4, 5, 6],
                  "C": [7, 8, 9]})

print(df)

   key  A  B  C
0  foo  1  4  7
1  bar  2  5  8
2  baz  3  6  9

Al usar la función de pandas melt, debemos indicar cuál de las columnas es un indicador de agrupación, en este caso vamos a usar "key":

In [13]:
melted= pd.melt(df, ["key"])

print(melted)

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9

Para volver la tabla como a un principio, usamos la función pivot:

In [15]:
reshaped= melted.pivot("key", "variable", "value")

print(reshaped)

variable  A  B  C
key
bar       2  5  8
baz       3  6  9
foo       1  4  7

Para que tenga el mismo aspecto que el original, podemos eliminar el indice de filas:

In [21]:
reshaped1= reshaped.reset_index()

print(reshaped1)

variable  key  A  B  C
0         bar  2  5  8
1         baz  3  6  9
2         foo  1  4  7

Por último, al usar el melt, podemos inidcar las columnas a usar como valores:

In [22]:
melted1= pd.melt(df, id_vars= ["key"], value_vars= ["A", "B"])

print(melted1)

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6

Como vemos, dejo afuera a los valores de la columna "C", por no haber sido seleccionada.