# Concatenar columnas

In [2]:
import pandas as pd
import numpy as np

Importamos el archivo a usar:

In [4]:
PPADO1= pd.read_table("examples\PPADO 09.2020.txt", 
                      sep= "|", skiprows= [0], 
                      names= ["Moneda", "Sucursal", "Producto", "Cuenta", "CUIT", "Fecha_Pago", "Fecha_Vto", "Importe"]) 

print(PPADO1)

     Moneda  Sucursal  Producto  Cuenta         CUIT  Fecha_Pago  Fecha_Vto  \
0        80         1       608   82039  20139316445      260308     250328
1        80         5       608   93370  30695307485      251108      30128
2        80         5       608   93370  30695307485      231208      30128
3        80         5       608   93370  30709853569      231208      30128
4        80         1       701  446302  30715313215      140720     140720
..      ...       ...       ...     ...          ...         ...        ...
367      80        15       608  457576  30707056920           0     111220
368      80        15       608  456128  20280089088           0     111220
369      80        55       608  456976  30715295861      250920     250920
370      80        25       608  457749  33716670509           0     151220
371      80        80       608  457921  30643644858           0     111120

       Importe
0      8860.00
1      5148.49
2      2926.02
3      3547.90
4    386666.91
..         ...
367   62500.00
368  200000.00
369  150000.00
370   36000.00
371  250000.00

[372 rows x 8 columns]

Concatenamos un cero cuando hace falta (esto a los efectos de luego convertir a fecha):

In [7]:
PPADO1['Fecha_Vto_1'] = np.where(PPADO1["Fecha_Vto"] < 100000,
                                ('0' + PPADO1['Fecha_Vto'].map(str)),
                                 PPADO1['Fecha_Vto'].map(str))

print(PPADO1)

     Moneda  Sucursal  Producto  Cuenta         CUIT  Fecha_Pago  Fecha_Vto  \
0        80         1       608   82039  20139316445      260308     250328
1        80         5       608   93370  30695307485      251108      30128
2        80         5       608   93370  30695307485      231208      30128
3        80         5       608   93370  30709853569      231208      30128
4        80         1       701  446302  30715313215      140720     140720
..      ...       ...       ...     ...          ...         ...        ...
367      80        15       608  457576  30707056920           0     111220
368      80        15       608  456128  20280089088           0     111220
369      80        55       608  456976  30715295861      250920     250920
370      80        25       608  457749  33716670509           0     151220
371      80        80       608  457921  30643644858           0     111120

       Importe Fecha_Vto_1
0      8860.00      250328
1      5148.49      030128
2      2926.02      030128
3      3547.90      030128
4    386666.91      140720
..         ...         ...
367   62500.00      111220
368  200000.00      111220
369  150000.00      250920
370   36000.00      151220
371  250000.00      111120

[372 rows x 9 columns]

# FunciÃ³n Extraer + Otro Ejemplo Concatenar

Importamos el archivo a usar:

In [3]:
Operac1= pd.read_table("examples\Valores_Negociados_BI 09.2020.txt",
                       header= None,  
                       names= ["NIT", "Nombre", "Producto", "Sucursal", "Cuenta", "Fec_Liq", "Importe"])

Operac2= Operac1.iloc[1:]

print(Operac2)

         NIT                      Nombre Producto Sucursal     Cuenta  \
1        925                   CHUAR SRL   60.880       25  4.536.630
2        925                   CHUAR SRL   60.880       25  4.564.900
3        925                   CHUAR SRL   60.880       25  4.564.910
4        925                   CHUAR SRL   60.880       25  4.564.920
5        925                   CHUAR SRL   60.880       25  4.564.930
..       ...                         ...      ...      ...        ...
948  566.179     RICALDEZ GARCIA, NELSON   70.180       10  4.455.160
949  581.375  LEMARCHAND, MARCOS MARCELO   60.880       20  4.246.460
950  581.375  LEMARCHAND, MARCOS MARCELO   60.880       20  4.252.940
951  581.375  LEMARCHAND, MARCOS MARCELO   60.880       20  4.337.590
952  581.375  LEMARCHAND, MARCOS MARCELO   60.880       20  4.373.090

        Fec_Liq       Importe
1    18/05/2020     2.500.000
2    11/08/2020  1.067.706,06
3    11/08/2020  1.067.706,06
4    11/08/2020  1.067.706,06
5    11/08/2020  1.067.706,06
..          ...           ...
948  03/02/2020    801.670,02
949  27/06/2019       150.000
950  12/07/2019       152.700
951  11/10/2019       200.000
952  21/11/2019       150.000

[952 rows x 7 columns]

Dejamos las columnas que necesito para el ejemplo:

In [7]:
Operac3= Operac2[["Fec_Liq"]]

print(Operac3)

        Fec_Liq
1    18/05/2020
2    11/08/2020
3    11/08/2020
4    11/08/2020
5    11/08/2020
..          ...
948  03/02/2020
949  27/06/2019
950  12/07/2019
951  11/10/2019
952  21/11/2019

[952 rows x 1 columns]

In [11]:
Operac3["day"]= Operac3["Fec_Liq"].str[0:2] 

Operac3["month"]= Operac3["Fec_Liq"].str[3:5]

Operac3["year"]= Operac3["Fec_Liq"].str[6:10]

Operac3["Fec_Liq_1"]= Operac3['year'].map(str) + Operac3['month'].map(str) + Operac3['day'].map(str)

print(Operac3)

        Fec_Liq day month  year Fec_Liq_1
1    18/05/2020  18    05  2020  20200518
2    11/08/2020  11    08  2020  20200811
3    11/08/2020  11    08  2020  20200811
4    11/08/2020  11    08  2020  20200811
5    11/08/2020  11    08  2020  20200811
..          ...  ..   ...   ...       ...
948  03/02/2020  03    02  2020  20200203
949  27/06/2019  27    06  2019  20190627
950  12/07/2019  12    07  2019  20190712
951  11/10/2019  11    10  2019  20191011
952  21/11/2019  21    11  2019  20191121

[952 rows x 5 columns]

C:\Users\Gabriel\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Gabriel\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Gabriel\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Gabriel\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

# FunciÃ³n Contains

In [3]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])

print(s1)

0               Mouse
1                 dog
2    house and parrot
3                  23
4                 NaN
dtype: object

In [4]:
s2= s1.str.contains('og', regex=False)

print(s2)

0    False
1     True
2    False
3    False
4      NaN
dtype: object

Con respecto al "regex", si es "True", asume que estamos trabajando con regular expresions. Caso contrario, si es "False", lo toma literal.

Si queremos que sea sensible a mayÃºsculas y minÃºsculas:

In [6]:
s3= s1.str.contains('oG', case=True, regex=True)

print(s3)

0    False
1    False
2    False
3    False
4      NaN
dtype: object

Si queremos que trate a los NaN como "False", hacemos lo siguiente:

In [7]:
s4= s1.str.contains('og', na=False, regex=True)

print(s4)

0    False
1     True
2    False
3    False
4    False
dtype: bool

Si queremos agregar un condicional:

In [8]:
s5= s1.str.contains('house|dog', regex=True)

print(s5)

0    False
1     True
2     True
3    False
4      NaN
dtype: object