# Trabajar con Fechas

In [1]:
import pandas as pd
import numpy as np

Importamos el archivo de ejemplo:

In [2]:
PPADO1= pd.read_table("examples\PPADO 09.2020.txt", 
                      sep= "|", skiprows= [0], 
                      names= ["Moneda", "Sucursal", "Producto", "Cuenta", "CUIT", "Fecha_Pago", "Fecha_Vto", "Importe"]) 

print(PPADO1)

     Moneda  Sucursal  Producto  Cuenta         CUIT  Fecha_Pago  Fecha_Vto  \
0        80         1       608   82039  20139316445      260308     250328
1        80         5       608   93370  30695307485      251108      30128
2        80         5       608   93370  30695307485      231208      30128
3        80         5       608   93370  30709853569      231208      30128
4        80         1       701  446302  30715313215      140720     140720
..      ...       ...       ...     ...          ...         ...        ...
367      80        15       608  457576  30707056920           0     111220
368      80        15       608  456128  20280089088           0     111220
369      80        55       608  456976  30715295861      250920     250920
370      80        25       608  457749  33716670509           0     151220
371      80        80       608  457921  30643644858           0     111120

       Importe
0      8860.00
1      5148.49
2      2926.02
3      3547.90
4    386666.91
..         ...
367   62500.00
368  200000.00
369  150000.00
370   36000.00
371  250000.00

[372 rows x 8 columns]

### Formato DDMMYY

Agregamos un cero a los efectos de que quede con el formato ddmmyy:

In [3]:
PPADO1= PPADO1[["Fecha_Vto", "Fecha_Pago"]]

PPADO1['Fecha_Vto_1'] = np.where(PPADO1["Fecha_Vto"] < 100000, 
                                  ('0' + PPADO1['Fecha_Vto'].map(str)),
                                   PPADO1['Fecha_Vto'].map(str))

PPADO1['Fecha_Pago_1'] = np.where(PPADO1["Fecha_Pago"] < 100000, 
                                  ('0' + PPADO1['Fecha_Pago'].map(str)),
                                   PPADO1['Fecha_Pago'].map(str))

print(PPADO1)

     Fecha_Vto  Fecha_Pago Fecha_Vto_1 Fecha_Pago_1
0       250328      260308      250328       260308
1        30128      251108      030128       251108
2        30128      231208      030128       231208
3        30128      231208      030128       231208
4       140720      140720      140720       140720
..         ...         ...         ...          ...
367     111220           0      111220           00
368     111220           0      111220           00
369     250920      250920      250920       250920
370     151220           0      151220           00
371     111120           0      111120           00

[372 rows x 4 columns]

Ahora convertimos a fecha:

In [4]:
PPADO1["Fecha_Vto_2"]= pd.to_datetime(PPADO1["Fecha_Vto_1"], format='%d%m%y') 

print(PPADO1)

     Fecha_Vto  Fecha_Pago Fecha_Vto_1 Fecha_Pago_1 Fecha_Vto_2
0       250328      260308      250328       260308  2028-03-25
1        30128      251108      030128       251108  2028-01-03
2        30128      231208      030128       231208  2028-01-03
3        30128      231208      030128       231208  2028-01-03
4       140720      140720      140720       140720  2020-07-14
..         ...         ...         ...          ...         ...
367     111220           0      111220           00  2020-12-11
368     111220           0      111220           00  2020-12-11
369     250920      250920      250920       250920  2020-09-25
370     151220           0      151220           00  2020-12-15
371     111120           0      111120           00  2020-11-11

[372 rows x 5 columns]

Se puede convertir a fecha sin tener en cuenta los errores:

In [5]:
PPADO1["Fecha_Pago_2"]= pd.to_datetime(PPADO1["Fecha_Pago_1"], format='%d%m%y', errors= "coerce") 

print(PPADO1)

     Fecha_Vto  Fecha_Pago Fecha_Vto_1 Fecha_Pago_1 Fecha_Vto_2 Fecha_Pago_2
0       250328      260308      250328       260308  2028-03-25   2008-03-26
1        30128      251108      030128       251108  2028-01-03   2008-11-25
2        30128      231208      030128       231208  2028-01-03   2008-12-23
3        30128      231208      030128       231208  2028-01-03   2008-12-23
4       140720      140720      140720       140720  2020-07-14   2020-07-14
..         ...         ...         ...          ...         ...          ...
367     111220           0      111220           00  2020-12-11          NaT
368     111220           0      111220           00  2020-12-11          NaT
369     250920      250920      250920       250920  2020-09-25   2020-09-25
370     151220           0      151220           00  2020-12-15          NaT
371     111120           0      111120           00  2020-11-11          NaT

[372 rows x 6 columns]

### Formato YYYYMMDD

In [6]:
fecha= "09.2020"

month= fecha[0:2]

year= fecha[3:]

fecha_referencia= year + month + "01"

#Agregamos el dato como columna

PPADO1["Fecha_Referencia"]= fecha_referencia

print(PPADO1)

     Fecha_Vto  Fecha_Pago Fecha_Vto_1 Fecha_Pago_1 Fecha_Vto_2 Fecha_Pago_2  \
0       250328      260308      250328       260308  2028-03-25   2008-03-26
1        30128      251108      030128       251108  2028-01-03   2008-11-25
2        30128      231208      030128       231208  2028-01-03   2008-12-23
3        30128      231208      030128       231208  2028-01-03   2008-12-23
4       140720      140720      140720       140720  2020-07-14   2020-07-14
..         ...         ...         ...          ...         ...          ...
367     111220           0      111220           00  2020-12-11          NaT
368     111220           0      111220           00  2020-12-11          NaT
369     250920      250920      250920       250920  2020-09-25   2020-09-25
370     151220           0      151220           00  2020-12-15          NaT
371     111120           0      111120           00  2020-11-11          NaT

    Fecha_Referencia
0           20200901
1           20200901
2           20200901
3           20200901
4           20200901
..               ...
367         20200901
368         20200901
369         20200901
370         20200901
371         20200901

[372 rows x 7 columns]

Convertimos ahora a fecha formato texto yyyymmdd:

In [7]:
PPADO1["Fecha_Referencia_1"]= pd.to_datetime(PPADO1["Fecha_Referencia"], format='%Y%m%d')

print(PPADO1)

     Fecha_Vto  Fecha_Pago Fecha_Vto_1 Fecha_Pago_1 Fecha_Vto_2 Fecha_Pago_2  \
0       250328      260308      250328       260308  2028-03-25   2008-03-26
1        30128      251108      030128       251108  2028-01-03   2008-11-25
2        30128      231208      030128       231208  2028-01-03   2008-12-23
3        30128      231208      030128       231208  2028-01-03   2008-12-23
4       140720      140720      140720       140720  2020-07-14   2020-07-14
..         ...         ...         ...          ...         ...          ...
367     111220           0      111220           00  2020-12-11          NaT
368     111220           0      111220           00  2020-12-11          NaT
369     250920      250920      250920       250920  2020-09-25   2020-09-25
370     151220           0      151220           00  2020-12-15          NaT
371     111120           0      111120           00  2020-11-11          NaT

    Fecha_Referencia Fecha_Referencia_1
0           20200901         2020-09-01
1           20200901         2020-09-01
2           20200901         2020-09-01
3           20200901         2020-09-01
4           20200901         2020-09-01
..               ...                ...
367         20200901         2020-09-01
368         20200901         2020-09-01
369         20200901         2020-09-01
370         20200901         2020-09-01
371         20200901         2020-09-01

[372 rows x 8 columns]

### Formato YYMMDD

In [ ]:
PPADO1["Fecha_Referencia_1"]= pd.to_datetime(PPADO1["Fecha_Referencia"], format='%y%m%d')

### Pasamos a fin de mes

Tenemos que agregar primero la librería:

In [8]:
from pandas.tseries.offsets import MonthEnd
from pandas.tseries.offsets import MonthBegin

In [9]:
PPADO1["Fecha_Referencia_2"]= PPADO1["Fecha_Referencia_1"] + MonthEnd(1)

print(PPADO1)

     Fecha_Vto  Fecha_Pago Fecha_Vto_1 Fecha_Pago_1 Fecha_Vto_2 Fecha_Pago_2  \
0       250328      260308      250328       260308  2028-03-25   2008-03-26
1        30128      251108      030128       251108  2028-01-03   2008-11-25
2        30128      231208      030128       231208  2028-01-03   2008-12-23
3        30128      231208      030128       231208  2028-01-03   2008-12-23
4       140720      140720      140720       140720  2020-07-14   2020-07-14
..         ...         ...         ...          ...         ...          ...
367     111220           0      111220           00  2020-12-11          NaT
368     111220           0      111220           00  2020-12-11          NaT
369     250920      250920      250920       250920  2020-09-25   2020-09-25
370     151220           0      151220           00  2020-12-15          NaT
371     111120           0      111120           00  2020-11-11          NaT

    Fecha_Referencia Fecha_Referencia_1 Fecha_Referencia_2
0           20200901         2020-09-01         2020-09-30
1           20200901         2020-09-01         2020-09-30
2           20200901         2020-09-01         2020-09-30
3           20200901         2020-09-01         2020-09-30
4           20200901         2020-09-01         2020-09-30
..               ...                ...                ...
367         20200901         2020-09-01         2020-09-30
368         20200901         2020-09-01         2020-09-30
369         20200901         2020-09-01         2020-09-30
370         20200901         2020-09-01         2020-09-30
371         20200901         2020-09-01         2020-09-30

[372 rows x 9 columns]

### Pasamos a principio de mes

In [10]:
PPADO1["Fecha_Referencia_3"]= PPADO1["Fecha_Referencia_2"] + MonthBegin(-1)

print(PPADO1)

     Fecha_Vto  Fecha_Pago Fecha_Vto_1 Fecha_Pago_1 Fecha_Vto_2 Fecha_Pago_2  \
0       250328      260308      250328       260308  2028-03-25   2008-03-26
1        30128      251108      030128       251108  2028-01-03   2008-11-25
2        30128      231208      030128       231208  2028-01-03   2008-12-23
3        30128      231208      030128       231208  2028-01-03   2008-12-23
4       140720      140720      140720       140720  2020-07-14   2020-07-14
..         ...         ...         ...          ...         ...          ...
367     111220           0      111220           00  2020-12-11          NaT
368     111220           0      111220           00  2020-12-11          NaT
369     250920      250920      250920       250920  2020-09-25   2020-09-25
370     151220           0      151220           00  2020-12-15          NaT
371     111120           0      111120           00  2020-11-11          NaT

    Fecha_Referencia Fecha_Referencia_1 Fecha_Referencia_2 Fecha_Referencia_3
0           20200901         2020-09-01         2020-09-30         2020-09-01
1           20200901         2020-09-01         2020-09-30         2020-09-01
2           20200901         2020-09-01         2020-09-30         2020-09-01
3           20200901         2020-09-01         2020-09-30         2020-09-01
4           20200901         2020-09-01         2020-09-30         2020-09-01
..               ...                ...                ...                ...
367         20200901         2020-09-01         2020-09-30         2020-09-01
368         20200901         2020-09-01         2020-09-30         2020-09-01
369         20200901         2020-09-01         2020-09-30         2020-09-01
370         20200901         2020-09-01         2020-09-30         2020-09-01
371         20200901         2020-09-01         2020-09-30         2020-09-01

[372 rows x 10 columns]

### Para extraer los días de un formato timedelta64

In [16]:
PPADO1["Plazo_Restante_1"]= PPADO1["Fecha_Referencia_2"] - PPADO1["Fecha_Referencia_3"]

PPADO1["Plazo_Restante"] = pd.to_numeric(PPADO1["Plazo_Restante_1"].dt.day, downcast='integer')

print(PPADO1.dtypes)

Fecha_Vto                       int64
Fecha_Pago                      int64
Fecha_Vto_1                    object
Fecha_Pago_1                   object
Fecha_Vto_2            datetime64[ns]
Fecha_Pago_2           datetime64[ns]
Fecha_Referencia               object
Fecha_Referencia_1     datetime64[ns]
Fecha_Referencia_2     datetime64[ns]
Fecha_Referencia_3     datetime64[ns]
Plazo_Restante_1      timedelta64[ns]
Plazo_Restante                   int8
dtype: object

### Extraer días de fecha python - no pandas

In [ ]:
Dia = Fecha.day
Mes = Fecha.month

### Sumar días a una columna de fecha - También se puede usar en Python

In [ ]:
from datetime import timedelta

PPINV_1["Fecha_Referencia"]= PPINV_1["Hoy"] - timedelta(days=1)

### Para dejar sólo la parte de fecha de un formato datetime

In [ ]:
import datetime as dt

df['just_date'] = df['dates'].dt.date

## Traer la fecha de hoy

In [2]:
from datetime import date
from datetime import datetime

#Día actual
today = date.today()

#Fecha actual
now = datetime.now()

print(today)
print(now)

now.year   

now.month  

now.day    

now.hour    

now.minute

now.second

2021-04-27
2021-04-27 14:45:10.522114

10