# Ejecutar Códigos SQL e Importar a Pandas

In [ ]:
db = sqlite3.connect("{}\Estadisticas_Diarias.db".format(deposito))

cur = db.cursor()

#Sólo se puede ejecutar un código por vez

cur.execute("""create TEMPORARY table APP_1 as
               select *
               from Estadisticas_Diarias
               where PERFIL= "APP";
               """)

cur.execute("""create TEMPORARY table APP_2 as
               select  *,
               REPLACE(Fecha, '.', '') as Fecha_1
               from APP_1;
               """)

cur.execute("""create TEMPORARY table Date_APP as
               SELECT DISTINCT Fecha_1
               from APP_2
               order by Fecha_1 DESC
               limit 5;
               """)

cur.execute("""CREATE TEMPORARY table APP as
               select t1.*
               from APP_2 t1 INNER join Date_APP t2
               on t1.Fecha_1= t2.Fecha_1;
               """)

APP = pd.read_sql_query("SELECT * from APP", db)

db.close()